
<body class="mathbody" style="background-image:url(94173.jpg) ; background-position: center; background-size: cover; font-family: sans-serif; margin-top: 40px;">
<div class="container" >
    <div class="row mt-5">
       
        <div class="mt-5 Signup_form" style="width: 800px; background-color: rgb(0,0,0,0.5); margin: auto; color: #e3efff; padding: 10px 0px 350px 0px; text-align: center; border-radius: 15px 15px 0px 0px;">
          <h2 style="width: 800px; background-color: rgb(0,0,0,0.6); margin: auto; color: #e3efff; padding: 10px 0px 10px 0px; text-align: center; border-radius: 15px 15px 0px 0px; font-family:Times New Roman, Times, serif;font-style: italic;font-size: 30px;font-weight: bold;font-variant: small-caps;">Function</h2>
            <form action = "add" method = "POST" style="padding: 10px;">
                <div class="form-group" >
                    <label for="exampleInputEmail1" style="margin-left: 25px; margin-top: 30px; width: 125px; position: relative; left: -175px; color: #e3efff; font-size: 18px;  font-family:Times New Roman, Times, serif;font-size: 30px;">enter function: </label>
                    <input type="text" name="function"  placeholder="a*x + b*y + c*z" style="position: relative; left: -80px; bottom: 5; line-height: 40px; border-radius: 6px; padding: 0 22px; font-size: 16px;">
                   
                  </div>
                  <h2 style="width: 800px; background-color: rgb(0,0,0,0.6); margin: auto; color: #e3efff; padding: 10px 0px 10px 0px; text-align: center; border-radius: 15px 15px 0px 0px;font-family:Times New Roman, Times, serif;font-style: italic;font-size: 30px;font-weight: bold;font-variant: small-caps;">Constrain</h2>
                <div class="form-group">
                  <label for="exampleInputEmail1" style="margin-left: 25px; margin-top: 30px; width: 125px; position: relative; left: -175px; top: 20px; color: #e3efff;font-size: 18px;  font-family:Times New Roman, Times, serif;font-size: 30px;">Constrain num 1:</label>
                  <input type="text" name="cons"  placeholder=" x + y + z <= number(10)" style="position: relative; left: -90px; top: 20px; line-height: 40px; border-radius: 6px; padding: 0 22px; font-size: 16px;">
                 
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" style="margin-left: 25px; margin-top: 30px; width: 125px; position: relative; left: -175px; top: 40px; color: #e3efff; font-size: 18px;  font-family:Times New Roman, Times, serif;font-size: 30px;">Constrain num 2:</label>
                    <input type="text" name="cons"  placeholder=" x + y + z <= number(10)" style="position: relative; left: -90px; top: 40px;  line-height: 40px; border-radius: 6px; padding: 0 22px; font-size: 16px;">
                   
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1" style="margin-left: 25px; margin-top: 30px; width: 125px; position: relative; left: -175px; top: 60px; color: #e3efff; font-size: 18px;  font-family:Times New Roman, Times, serif;font-size: 30px;">Constrain num 3:</label>
                    <input type="text" name="cons"  placeholder=" x + y + z <= number(10)" style="position: relative; left: -90px; top: 60px; line-height: 40px; border-radius: 6px; padding: 0 22px; font-size: 16px;">
                   
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1" style="margin-left: 25px; margin-top: 30px; width: 125px; position: relative; left: -175px; top: 80px; color: #e3efff;font-size: 18px;  font-family:Times New Roman, Times, serif;font-size: 30px;">Constrain num 4:</label>
                    <input type="text" name="cons"  placeholder=" x + y + z <= number(10)" style="position: relative; left: -90px; top: 80px; line-height: 40px; border-radius: 6px; padding: 0 22px; font-size: 16px;">
                   
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1" style="margin-left: 25px; margin-top: 30px; width: 125px; position: relative; left: -175px; top: 100px; color: #e3efff;font-size: 18px;  font-family:Times New Roman, Times, serif;font-size: 30px;">Constrain num 5:</label>
                    <input type="text" name="cons"  placeholder=" x + y + z <= number(10)" style="position: relative; left: -90px; top: 100px; line-height: 40px; border-radius: 6px; padding: 0 22px; font-size: 16px;">
                   
                  </div>
                  <h2 style="width: 800px; background-color: rgb(0,0,0,0.6); margin: auto; color: #e3efff; padding: 10px 0px 10px 0px; text-align: center; border-radius: 15px 15px 0px 0px; position: relative; top: 150px; font-family:Times New Roman, Times, serif;font-style: italic;font-size: 30px;font-weight: bold;font-variant: small-caps;">limits</h2>
                  <div class="form-group"  style="position:relative; top: 175px" ;>
                    
                  <input type="text" name="Limits"  placeholder="0" size="1" style="line-height: 40px; border-radius: 6px; padding: 0 22px; font-size: 16px;">
                  <label for="exampleInputEmail1"> < x < </label>
                  <input type="text" name="Limits"  placeholder="0" size="1" style="line-height: 40px; border-radius: 6px; padding: 0 22px; font-size: 16px;">
                </div>
                  <div class="form-group" style="position:relative; top: 225px">

                  <input type="text" name="Limits" placeholder="0" size="1" style="line-height: 40px; border-radius: 6px; padding: 0 22px; font-size: 16px;">
                  <label for="exampleInputEmail1"> < y < </label>
                  <input type="text" name="Limits" placeholder="0" size="1" style="line-height: 40px; border-radius: 6px; padding: 0 22px; font-size: 16px;">
                </div>
                  <div class="form-group" style="position:relative; top: 275px">

                  <input type="text" name="Limits" placeholder="0" size="1" style="line-height: 40px; border-radius: 6px; padding: 0 22px; font-size: 16px;">
                  <label for="exampleInputEmail1"> < z < </label>
                  <input type="text" name="Limits" placeholder="0" size="1" style="line-height: 40px; border-radius: 6px; padding: 0 22px; font-size: 16px;">
                </div>
               <p></p>
                <button type="submit" class="btn btn-primary" style="padding: 20px 32px; position:relative; top: 325px; background-color:#28333B;color: #fff;border:none;border-radius:15px; box-shadow: 0px 0px 2px 2px rgb(54, 54, 78);font-size: 18px;  font-family:Times New Roman, Times, serif;font-size: 30px;">Submit</button>
                 
                
              </form>
             
        </div>
           
<!-- start footer -->
<footer class="footer">
  <b style="color: #131c28;">
    name_student: ezzt_108673, modar_114607 , mayyar_111004 , hussam_120096<br>
    class: C2
  </b>
</footer>
<!-- End footer -->
        </div>
       
    </div>
  </div>
</body>